
html, body {
  height: 100%;
  margin: 0; /* 혹시 25px margin 있으면 제거 */
  padding: 0;
  overscroll-behavior: contain; /* iOS 바운스 시 배경 깨짐 방지 */
  background-color: black;

}
ul, li{
  list-style: none; padding: 0; margin: 0;
}
ul{
  font-weight: bold;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
}
body{
  font-family: 'Noto Sans KR';
}
.bg {
  width: 100%;
  height: 98%;
    
  background: linear-gradient(#bbd0e4 , #ffffff 80%);
    
    animation: breathing-gradient 4s ease-in-out infinite alternate;
  border-radius: 42px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#anim{width: 60%; max-width: 200px; margin: 0 auto;text-align: center;
span{background: #ffffff56; font-size: 10px; border-radius: 16px; padding: 8px 10px; font-weight: bold; color: #00000071;}
}
header li{font-size: 10px;font-weight: bold;color: #16467c69;}
.menu-icon-btn{
  position: fixed; right: 16px; top: 16px; padding: 9px 10px;border-radius: 50%; background: none; color: #748ca883; border: none; font-size: 16px;
}
.nextBtn{
  text-align: left;
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;
  opacity:0; transition: opacity 0.5s; padding: 16px;width: 80%; font-size: 12px;
  background: white; box-shadow: 1px 8px 8px #eee; border-radius: 16px; border: 1px solid #ddd; font-weight: bold;
  span{display: block; font-weight: normal; color: #666;}
  .row i{background: #dde5f0; padding: 8px; margin-right: 4px;border-radius: 50%; margin-bottom: 8px;}
}
#home svg{display: block;margin: 0 auto;filter: blur(12px);}
.someclass { color: red; }
#someid { color: green; }
.bubble {
  max-width: 70%;
  display: inline-block;
  padding: 12px 18px;
  margin: 10px auto;
  background: white;
  border-radius: 40px;
  border: solid 1px #ececec;
  font-size: 12px; font-weight: normal;
  color: #333;
  line-height: 1.4;
}
.callout{
  background: #ffffff; border-radius: 32px; padding: 8px; font-size: 12px;
  li{
    font-weight: normal;
  }
}
footer{
  p{font-size: 12px; color: rgba(255, 255, 255, 0.479); text-align: center; display: block; margin: 8px auto;}
}

.flex{display: flex;}
.row{flex-direction: row;gap: 8px;}
.bottom_gap{margin-bottom: 16px; max-width: 420px;margin: 0 auto;}




/* @keyframes를 사용하여 애니메이션을 정의합니다. */
@keyframes breathing-gradient {
  0% {
      /* 시작 시 그라데이션 위치: 맨 위 (밝은 색만 거의 보임) */
      background-position: 0% 0%;
  }
  100% {
      /* 끝 지점 위치: 아래로 살짝 이동하여 어두운 색이 은은하게 채워짐 */
      background-position: 0% 25%;
  }
}

