
html, body {
  height: 100%;
  margin: 0; /* 혹시 25px margin 있으면 제거 */
  padding: 0;
  overscroll-behavior: contain; /* iOS 바운스 시 배경 깨짐 방지 */
  background-color: black;

}
ul, li{
  list-style: none; padding: 0; margin: 0;
}
ul{
  font-weight: bold;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
}
body{
  font-family: 'Noto Sans KR';
}
.bg {
  width: 100%;
  height: 98%;
    /* 그라데이션 설정: to bottom (위에서 아래로), 위는 밝게 (#f0f8ff), 아래는 살짝 어둡게 (#c2dde4) */
    background: linear-gradient(to bottom, #d9e8f5 0%, #ffffff 50%, #b4dee9 100%);
    /* 배경 크기는 그대로 400%로 유지하여 애니메이션 효과 극대화 */
    background-size: 100% 400%; /* 너비는 100%, 높이는 400%로 변경 */
    /* 애니메이션 적용: 'breathing-gradient', 4초 동안 (숨쉬는 느낌을 위해 속도 단축), 무한 반복, 부드러운 전환 */
    animation: breathing-gradient 4s ease-in-out infinite alternate;
  border-radius: 42px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.nextBtn{
  text-align: left;
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;
  opacity:0; transition: opacity 0.5s; padding: 16px;width: 80%; font-size: 12px;
  background: white; box-shadow: 1px 8px 8px #eee; border-radius: 16px; border: 1px solid #ddd; font-weight: bold;
  span{display: block; font-weight: normal; color: #666;}
  .row i{background: #dde5f0; padding: 8px; margin-right: 4px;border-radius: 50%; margin-bottom: 8px;}
}
#home svg{display: block;margin: 0 auto;filter: blur(16px);}
.someclass { color: red; }
#someid { color: green; }
.bubble {
  max-width: 70%;
  display: inline-block;
  padding: 12px 18px;
  margin: 10px auto;
  background: white;
  border-radius: 40px;
  border: solid 1px #ececec38;
  font-size: 12px; font-weight: normal;
  color: #333;
  line-height: 1.4;
}
.callout{
  background: #ffffff; border-radius: 32px; padding: 8px; font-size: 12px;
  li{
    font-weight: normal;
  }
}
footer{
  p{font-size: 12px; color: rgba(255, 255, 255, 0.479); text-align: center; display: block; margin: 8px auto;}
}

.flex{display: flex;}
.row{flex-direction: row;gap: 8px;}
.bottom_gap{margin-bottom: 16px;}




/* @keyframes를 사용하여 애니메이션을 정의합니다. */
@keyframes breathing-gradient {
  0% {
      /* 시작 시 그라데이션 위치: 맨 위 (밝은 색만 거의 보임) */
      background-position: 0% 0%;
  }
  100% {
      /* 끝 지점 위치: 아래로 살짝 이동하여 어두운 색이 은은하게 채워짐 */
      background-position: 0% 25%;
  }
}

